<html lang='vi'>
  <body style='font-family: Arial, sans-serif; color: #333;'>
    <div style='max-width: 600px; margin: auto; padding: 20px;'>
      <p>Chào <strong>{{fullname}}</strong>,</p>

      <p>Cảm ơn bạn đã liên hệ với
        <strong>Công ty VIA</strong>. Chúng tôi đã nhận được tin nhắn của bạn và
        xin được phản hồi như sau:</p>

      <p><strong>Câu hỏi của bạn:</strong><br />
        "{{Question}}"</p>

      <p><strong>Phản hồi từ chúng tôi:</strong><br />
        {{Answer}}</p>

      <p>Nếu bạn còn bất kỳ câu hỏi nào khác, đừng ngần ngại phản hồi lại email
        này hoặc liên hệ qua hotline:
        <strong>+84 33 234 1089</strong>.</p>

      <p>Trân trọng,<br />
        VIA., JSC</p>
    </div>
  </body>
</html>